*{
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}
.dkhp{
    max-width: 1200px;
    margin: auto;
    font-family:  'Times New Roman', Times, serif;
}
.header{
    height: 6em;
    background: rgb(99,231,241);
    background: linear-gradient(90deg, rgba(99,231,241,1) 0%, rgba(0,194,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  8px;
    /* box-shadow: 3px 3px #b3b1b1; */
    box-shadow: 4px 8px 8px #aca9a9;
    border-radius: 2px;
}
h1{
    letter-spacing: 2px;
}
.nav{
    display: flex;
    justify-content: center;
    color: rgb(52 105 209);

    left: 465px;
    top: 95px;
    z-index: 1;
    position: absolute;
}
ul{
    list-style: none;
}
.menu{
    display: flex;
    width: 600px;
    background-color: #abd1ff;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 #aca9a9;
}
.menu li:hover{
    cursor: pointer;
}
.line-1{
    height: 1px;
    background: rgb(52 105 209);
    margin-top: 30px;
    /* color: rgb(52 105 209); */
}
.container{
    display: grid;
    grid-template-columns: 840px auto;
    height: 600px;

}
.main{
    border-right: 2px dotted rgb(52, 105, 209);
    /* margin-right: 66px; */
    padding-right: 4px;
}
.container h2{
    text-transform: uppercase;
    color: orange;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.line-2{
    height: 1px;
    background: rgb(101, 99, 99);
    margin-top: 15px;
    
}
.input-form{
    float: right;
    width: 460px;
}
.row-input{
    display: flex;
    margin: 5px;

}
.lable{
    display: inline;
    /* max-width: 20px; */
    min-width: 100px;
    text-align: right;
}
.input{
    flex: 1;
    margin-left: 5px;
}
#sex-input{
    margin-left:8px ;
}
h3{
    color: orange;
}
.subject{

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.1fr 1fr;
    grid-template-rows: 20px auto;
}
.container-subj
{
    padding: 4px 8px 8px 8px;
    border: 2px solid #e2dddd;
}
.subj{
    background-color: rgb(241, 235, 235);
    border: 2px solid #c8c3c3;
    padding: 2px 0 2px 2px;
    margin-bottom: 5px;
}
.button{
    text-align: center;
    float: center;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    margin: 0 10px 0 10px;
}
.button input{
    /* min-width: 28px; */
    padding: 4px;
    border: 2px solid orange;
    background-color: white;
}
.right{
    text-align: right;
}
.submit-btn{
    margin: 5px 0px;
    text-align: center;
}
.subm-btn
{
    padding: 2px 15px;
    color: #333;
    border: 2px solid orange;
    background-color: white;
}
.border-rad{
    border-radius: 3px;
}
.infor{
    margin-top: 10px;
}
.inf-header{

    /* background-color: orange; */
    display: grid;
    grid-template-columns: 0.6fr 1fr 0.6fr 0.8fr;
    grid-template-rows: 1.7em;
    font-weight: bold;
    color: #faf3f3;
    text-align: center;
    vertical-align:auto;
    grid-gap: 0.1em;
}
.inf{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 1.5em;
    background: orange;
}
.notify-list{
    margin-top: 5px;
    
}
.title{
    background-color: #fcc782;
    padding: 5px;
}
.notify-item{
    /* padding: 8px; */
    margin: 0px 0px 3px 5px;
    border: 1px solid rgb(191, 190, 190);
}
.notify-item:hover{
    /* padding: 8px; */
    cursor: pointer;
    /* background-color: orange; */
}

i{
    font-size: 0.8em;
    padding: 2px;
    margin: 4px;
}
#icon-down{
    display: none;
}
.news{
    color: #e89224;
}
.content{
    padding: 20px 12px 20px 40px;
    background-color: white;
    /* margin: 8px 10px 10px 25px; */
    display: none;
    color: blue;
}
.footer{
    height: 1.5em;
    background-color: #FFE0B2;
    color: #e89224;
    
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 #aca9a9;
    border-radius: 2px;
    text-align: center;
    line-height: 1.3em;
    
}
.copy{
    display: inline;
    margin-right: 10px;
}
.item{
    display: inline;
    margin: 0 4px;
    /* background-color: orange; */
}
.list-menu{
    display: inline;
}
